body {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}



header {
    background-color: black;
    padding: 20px;
    height: 600px;
    background-image: url(kuvat/logo.png);
    background-size: 100%;
    background-position: center;
    
    
}

.features {
    height: 240px;
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.features figure {
    margin: auto;
    width: 300px;
    text-align: center;
}

.features figure img {
    box-shadow: rgb(56, 56, 56) 3px 3px 3px;
    width: 180px;
    border-radius: 10%;
}

footer {
    background-color: black;
    padding: 20px 20px;
    text-align: center;
    color: grey;
    
}

.joukkue {
    display: flex;
    justify-content: center;
    
    
    
}

.joukkue img {
    width: 80%;
    border-radius: 5px;
    
    
}

.vl h2{
    color: black;
    ;
}

.vl p {
    color: black;
}


.container {
    max-width: 1724px;
    width: 90%;
    margin: auto;
    padding: 40px o;
   
    
   
}
.title {
    margin-bottom: 2rem;


}
.galleria {
    display: flex;
    gap: 10px;
}

.colum {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;

}

.sectionbody {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper img {
    
    width: 50%;
    float: left;
    border-radius: 25px;
    

}

.wrapper {
    margin: 150px auto;
    width: 70%;
}

.text-box {
    color: black;
}

.text-box h2 {
    font-size: 42px;
    
}

.text-box p {
    font-size: 24px;
}

/*Media*/

@media screen and (max-width: 1500px) {
    header {
        height: 300px;
    }
    
   
}

@media screen and (max-width: 1300px) {
    
    .features {
        height: 420px;
    }

   
}


@media screen and (max-width: 750px) {
    header {
        height: 100px;
       
    }
    .features {
        height: 900px;
    }

    .features figure img {
        width: 200px;
    }
   
}


/* galleria tekste o bilda  */